.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-1 {
    padding: 100px 0;
}

.block-2 {
    width: 500px;
}

td, th {
    color: #DDDDDD;
}